body {
    background-color: white;
    margin: 0;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

.name-div, .email-div, .phone-div, .pwd-div {
    margin-bottom: 15px;
}