.date{
    border-radius: 5px;
    padding: 5px;
    margin-inline: 5px;
}

.incDate{
    border-radius:5px;
    padding : 5px;
    margin-inline: 5px;
}



.desDate{
    border-radius:5px;
    padding : 20px;
    margin-inline: 5px;

}